body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #222a30;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

#html {
  color: #dd4b25;
}

.reactjs {
  color: #5ed3f3;
}

#css3 {
  color: #2862e9;
}

.scss {
  color: #c76494;
}

#javascript {
  color: #edd718;
}

#jquery {
  color: #0865a6;
}

#vuejs {
  color: #3fb27f;
}

#php {
  color: #8892bf;
}

#mysql {
  color: #dd8a00;
}

#adobecc {
  color: #fa0f00;
}

#photoshop {
  color: #31a8ff;
}

#illustrator {
  color: #f79500;
}

#xd {
  color: #f75eee;
}

.noColor {
  color: #ffffff;
}

h1,
h2,
h3,
h4 {
    font-family: 'Kanit', sans-serif;
}

#me-container {
  display: grid;
  place-items: center;
  margin-top: 2em;
}

#myself {
  height: 400px;
  width: 400px;
  border-radius: 50%;
}

#home-text {
  text-align: center;
}

#home-buttons > a {
  border: solid blue 3px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFFFFF;
  padding: 0.7em;
  font-size: 20px;
}

.name {
    font-family: 'Times New Roman', Times, serif;
}

#work-section > h2 {
  text-align: center;
}

#work-section > .boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#work-section .box-links {
  width: 325px;
  height: auto;
  border-radius: 15px;
}

.thumbnails {
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: solid blue 2px;
}

footer {
  text-align: center;
  margin-top: 5em;
}

/* Desktop Display */
@media only screen and (min-width: 1025px) {
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid black 1px;
  }

  header > #title {
    color: #FFFFFF;
    text-decoration: none;
  }

  header > #title:hover {
    opacity: 0.5;
  }

  #desktop-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #desktop-nav .links {
    color: #FFFFFF; 
    text-decoration: none;
    font-size: 1.4rem;
    margin-left: 0.8em;
  }

  #desktop-nav .links:active {
    opacity: 0.5;
  }

  #desktop-nav > #icons-container {
    margin-left: 1em;
  }

  #icons-container > .icon-links {
    font-size: 2.8rem;
    color: #FFFFFF;
    text-decoration: none;
  }

  h2 {
    font-size: 2.1rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  #home-content > p {
    font-size: 1.2rem;
  }

  #home-buttons {
    display: grid;
    place-items: center;
  }

  #home-buttons > a {
    border: solid blue 3px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.7em;
    font-size: 20px;
  }

  .work-sections {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-gap: 2em;
    padding: 0 5em 0;
  }

  .work-sections p {
    font-size: 1.2rem;
  }

  .work-sections > .information h2 {
    margin: 0.7em 0 0.5em;
    font-size: 1.8rem;
  }

  .work-sections > .information h3 {
    font-size: 1.3rem;
  }

  .work-sections > .information img {
    height: auto;
    width: 100%;
  }

  .project-links {
    display: flex;
    justify-content: space-between;
  }

  .work-sections > .information p {
    padding: 0;
  }

  .work-sections > .information ol {
    padding: 0 1.5em 0;
    font-size: 1.2rem;
  }

  #about-content {
    text-align: center;
  }

  #about-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10em;
    padding-right: 10em;
  }

  #about-container > #picture img {
    height: 325px;
    width: 325px;
    border-radius: 25px;
  }

  #technologies-container {
    padding-bottom: 1em;
  }

  #technologies-container > h3 {
    text-align: center;
  }

  #technologies-container > #technologies-lists {
    display: flex;
    font-size: 1.3rem;
  }

  #technologies-lists > ul {
    list-style-type: none;
    text-align: left;
  }

  #my-story {
    margin: 0 5em 0;
  }

  #my-story > p {
    text-align: left;
    font-size: 1.2rem;
  }

}