body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #222a30;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Kanit', sans-serif;
}

.name {
    font-family: 'Times New Roman', Times, serif;
}

footer {
  text-align: center;
}

/* Desktop Display */
@media only screen and (min-width: 1025px) {
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid black 1px;
  }

  header > #title {
    color: #FFFFFF;
    text-decoration: none;
  }

  header > #title:hover {
    opacity: 0.5;
  }

  #desktop-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #desktop-nav .links {
    color: #FFFFFF; 
    text-decoration: none;
    font-size: 1.4rem;
    margin-left: 0.8em;
  }

  #desktop-nav .links:active {
    opacity: 0.5;
  }

  #desktop-nav > #icons-container {
    margin-left: 1em;
  }

  #icons-container > .icon-links {
    font-size: 2.8rem;
    color: #FFFFFF;
    text-decoration: none;
  }

  #me-container {
    display: grid;
    place-items: center;
    margin-top: 2em;
  }

  #myself {
    height: 400px;
    width: 400px;
    border-radius: 50%;
  }

  #home-page > h2, h3, p {
    text-align: center;
  }

  h2 {
    font-size: 2.1rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  #home-page > p {
    font-size: 1.2rem;
  }

  #home-buttons {
    display: grid;
    place-items: center;
  }

  #home-buttons > a {
    border: solid blue 3px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.7em;
    font-size: 20px;
  }

}