body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Desktop Display */
@media only screen and (min-width: 1025px) {
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid black 1px;
  }

  header > #title {
    color: black;
    text-decoration: none;
  }

  header > #title:hover {
    opacity: 0.5;
  }

  #desktop-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #desktop-nav .links {
    color: black; 
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 0.8em;
  }

  #desktop-nav .links:active {
    opacity: 0.5;
  }

  #desktop-nav > #icons-container {
    margin-left: 1em;
  }

  #icons-container > .icon-links {
    font-size: 2.7rem;
    color: black;
    text-decoration: none;
  }

}