/* Mobile Display */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #222a30;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

header {
    border-bottom: solid black 1px;
    margin-bottom: 2em;
    #desktop-nav {
        display: none;
    }

    #mobile-header {
        #front {
            display: flex; 
            justify-content: space-between;
            align-items: center;
            margin: 0 1.5em 0;
            #mobile-title {
                text-decoration: none;
                color: white;
            }
            #mobile-title:active {
                opacity: 0.5;
            }
            .toggle-bars {
                font-size: 2.5em;
            }
            .toggle-bars:active {
                opacity: 0.5;
            }
        }
        #mobile-navigation {
            #links-list {
                display: grid;
                place-items: center;
                list-style-type: none;
                padding: 0;
                margin: 0;
                font-size: 1.8rem;
                li {
                    margin-bottom: 1em;
                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
        #mobile-icons {
            #icons-container {
                display: flex; 
                justify-content: center;
                .icon-links {
                    text-decoration: none;
                    color: white;
                    font-size: 4em;
                }
            }
        }
    }
}

#home-content {
    #me-container {
        display: grid;
        place-items: center;
        #myself {
            width: 300px;
            height: 300px;
            border-radius: 50%;
        }
    }
    #home-text {
        text-align: center;
        h2 {
            font-size: 2rem;
            font-family: 'Times New Roman', Times, serif;
        }
        h3 {
            font-size: 1.4rem;
        }
        p {
            margin: 0 1em 0;
            font-size: 1.3rem;
        }
    }
}

#work-content {
    h2 {
        text-align: center;
    }
    .boxes-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        .box {
            border: solid #000000 2px;
            border-radius: 15px;
            width: 300px; 
            box-shadow: 7px 7px 5px #000000;
            a {
                img {
                    inline-size: 100%;
                    border-radius: 15px 15px 0 0;
                }
            }
            p {
                font-size: 1.1rem;
            }
            .project-title {
                font-weight: bold;
                text-decoration: underline;
                text-align: center;
            }
            .tech-used {
                text-align: center; 
            }
            .tech-list {
                display: flex;
                justify-content: center;
                margin: -1em 0 -1em;
                ol {
                    text-align: left;
                }  
            }
            .readMore {
                text-align: center;
                a {
                    color: white;
                }
            }
        }
    }
}

#about-content {
    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    #about-container {
        #picture {
            display: grid;
            place-items: center;
            img {
                width: 300px;
                height: 300px;
            }
        }
    }
    #technologies-container {
        #technologies-lists {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            ul {
                font-size: 1.3rem;
                list-style-type: none;
                padding: 1em;
                margin: 0;
            }
        }
    }
    #my-story {
        p {
            font-size: 1.2rem;
            margin: 0 2em 0;
            line-height: 1.5;
        }
    }
}

footer {
    text-align: center;
    font-style: italic;
    font-size: 0.7rem;
    margin-top: 5em;
    margin-bottom: 0.5em;
}

.html {
    color: #dd4b25;
}
  
.reactjs {
    color: #5ed3f3;
}

.css3 {
    color: #2862e9;
}

.scss {
    color: #c76494;
}

.javascript {
    color: #edd718;
}

.jquery {
    color: #0865a6;
}

.vuejs {
    color: #3fb27f;
}

.php {
    color: #8892bf;
}

.mysql {
    color: #dd8a00;
}

.adobecc {
    color: #fa0f00;
}

.photoshop {
    color: #31a8ff;
}

.illustrator {
    color: #f79500;
}

.xd {
    color: #f75eee;
}

.noColor {
    color: #ffffff;
}