/* Mobile Display */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #222a30;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

header {
  border-bottom: solid black 1px;
  margin-bottom: 2em;
}

header #desktop-nav {
  display: none;
}

header #mobile-header #front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1.5em 0;
}

header #mobile-header #front #mobile-title {
  text-decoration: none;
  color: white;
}

header #mobile-header #front #mobile-title:active {
  opacity: 0.5;
}

header #mobile-header #front .toggle-bars {
  font-size: 2.5em;
}

header #mobile-header #front .toggle-bars:active {
  opacity: 0.5;
}

header #mobile-header #mobile-navigation #links-list {
  display: -ms-grid;
  display: grid;
  place-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
}

header #mobile-header #mobile-navigation #links-list li {
  margin-bottom: 1em;
}

header #mobile-header #mobile-navigation #links-list li a {
  text-decoration: none;
  color: white;
}

header #mobile-header #mobile-icons #icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header #mobile-header #mobile-icons #icons-container .icon-links {
  text-decoration: none;
  color: white;
  font-size: 4em;
}

#home-content #me-container {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#home-content #me-container #myself {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

#home-content #home-text {
  text-align: center;
}

#home-content #home-text h2 {
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
}

#home-content #home-text h3 {
  font-size: 1.4rem;
}

#home-content #home-text p {
  margin: 0 1em 0;
  font-size: 1.3rem;
}

#work-content h2 {
  text-align: center;
}

#work-content .boxes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

#work-content .boxes-container .box {
  border: solid #000000 2px;
  border-radius: 15px;
  width: 300px;
  -webkit-box-shadow: 7px 7px 5px #000000d8;
          box-shadow: 7px 7px 5px #000000d8;
}

#work-content .boxes-container .box a img {
  inline-size: 100%;
  border-radius: 15px 15px 0 0;
}

#work-content .boxes-container .box p {
  font-size: 1.1rem;
}

#work-content .boxes-container .box .project-title {
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

#work-content .boxes-container .box .tech-used {
  text-align: center;
}

#work-content .boxes-container .box .tech-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -1em 0 -1em;
}

#work-content .boxes-container .box .tech-list ol {
  text-align: left;
}

#work-content .boxes-container .box .readMore {
  text-align: center;
}

#work-content .boxes-container .box .readMore a {
  color: white;
}

.work-sections {
  text-align: center;
}

.work-sections .information h2 {
  margin: 0 1em 0.5em;
}

.work-sections .information img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
}

.work-sections .information .project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 1.2em 0;
}

.work-sections .information .project-links .links {
  color: white;
}

.work-sections .information p {
  padding: 0 1em 0;
  line-height: 1.5;
  font-size: 1.2rem;
}

.work-sections .information ol {
  list-style: circle;
  list-style-position: inside;
  margin: 0;
  padding: 0 1.5em 0;
}

.work-sections .information ol li {
  line-height: 1.5;
  font-size: 1.2rem;
}

#about-content h2 {
  text-align: center;
}

#about-content h3 {
  text-align: center;
}

#about-content #about-container #picture {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#about-content #about-container #picture img {
  width: 300px;
  height: 300px;
}

#about-content #technologies-container #technologies-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about-content #technologies-container #technologies-lists ul {
  font-size: 1.3rem;
  list-style-type: none;
  padding: 1em;
  margin: 0;
}

#about-content #my-story p {
  font-size: 1.2rem;
  margin: 0 2em 0;
  line-height: 1.5;
}

footer {
  text-align: center;
  font-style: italic;
  font-size: 0.7rem;
  margin-top: 5em;
  margin-bottom: 0.5em;
}

.html {
  color: #dd4b25;
}

.reactjs {
  color: #5ed3f3;
}

.css3 {
  color: #2862e9;
}

.scss {
  color: #c76494;
}

.javascript {
  color: #edd718;
}

.jquery {
  color: #0865a6;
}

.vuejs {
  color: #3fb27f;
}

.php {
  color: #8892bf;
}

.mysql {
  color: #dd8a00;
}

.adobecc {
  color: #fa0f00;
}

.photoshop {
  color: #31a8ff;
}

.illustrator {
  color: #f79500;
}

.xd {
  color: #f75eee;
}

.noColor {
  color: #ffffff;
}

/* Tablet Display */
@media only screen and (min-width: 480px) {
  header #desktop-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: solid black 1px;
  }
  header #desktop-nav #title {
    color: #FFFFFF;
    text-decoration: none;
  }
  header #desktop-nav #title:hover {
    opacity: 0.5;
  }
  header #desktop-nav #desktop-nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header #desktop-nav #desktop-nav-links .links {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.4rem;
    margin-left: 0.8em;
  }
  header #desktop-nav #desktop-nav-links .links:active {
    opacity: 0.5;
  }
  header #desktop-nav #desktop-nav-links #icons-container {
    margin-left: 1em;
  }
  header #desktop-nav #desktop-nav-links #icons-container .icon-links {
    font-size: 2.8rem;
    color: #FFFFFF;
    text-decoration: none;
  }
  header #mobile-header {
    display: none;
  }
  #home-content #me-container a #myself {
    height: 350px;
    width: 350px;
  }
  #work-content .boxes-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 1em;
    margin: 0 3em 0;
  }
  #work-content .boxes-container .box {
    font-size: 1.1rem;
  }
  .work-sections {
    text-align: center;
  }
  .work-sections .information h2 {
    margin: 0 1em 0.5em;
  }
  .work-sections .information img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
  }
  .work-sections .information .project-links {
    text-align: center;
    padding: 0 1.2em 0;
  }
  .work-sections .information .project-links .links {
    color: white;
  }
  .work-sections .information p {
    padding: 0 1em 0;
    line-height: 1.5;
    font-size: 1.2rem;
  }
  .work-sections .information ol {
    list-style: circle;
    list-style-position: inside;
    margin: 0;
    padding: 0 1.5em 0;
  }
  .work-sections .information ol li {
    line-height: 1.5;
    font-size: 1.2rem;
  }
}

/* Desktop Display */
@media only screen and (min-width: 1025px) {
  header #desktop-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: solid black 1px;
  }
  header #desktop-nav #title {
    color: #FFFFFF;
    text-decoration: none;
  }
  header #desktop-nav #title:hover {
    opacity: 0.5;
  }
  header #desktop-nav #desktop-nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header #desktop-nav #desktop-nav-links .links {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.4rem;
    margin-left: 0.8em;
  }
  header #desktop-nav #desktop-nav-links .links:active {
    opacity: 0.5;
  }
  header #desktop-nav #desktop-nav-links #icons-container {
    margin-left: 1em;
  }
  header #desktop-nav #desktop-nav-links #icons-container .icon-links {
    font-size: 2.8rem;
    color: #FFFFFF;
    text-decoration: none;
  }
  header #mobile-header {
    display: none;
  }
  #home-content #me-container a #myself {
    height: 350px;
    width: 350px;
  }
  #work-content .boxes-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 1em;
    margin: 0 10em 0;
  }
  #work-content .boxes-container .box {
    font-size: 1.1rem;
  }
  .work-sections {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 2em;
    padding: 0 5em 0;
  }
  .work-sections p {
    font-size: 1.2rem;
    text-align: left;
  }
  .work-sections h2,
  .work-sections h3,
  .work-sections p,
  .work-sections ol {
    text-align: left;
  }
  .work-sections .information h2 {
    margin: 0.7em 0 0.5em;
  }
  .work-sections .information h3 {
    font-size: 1.3rem;
  }
  .work-sections .information p {
    padding: 0;
  }
  .work-sections .information img {
    height: auto;
    width: 100%;
  }
  .work-sections .information .project-links {
    padding: 1em 0 1em;
    margin: 0;
    font-size: 1.2rem;
  }
  .work-sections .information ol {
    padding: 0;
  }
  #about-content #about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 5em 2em;
    gap: 1em;
  }
  #about-content #my-story {
    margin: 0 6em 0;
  }
}

/* 1440p Desktop Display */
@media only screen and (min-width: 1400px) {
  #home-content #me-container a #myself {
    height: 400px;
    width: 400px;
  }
  #work-content .boxes-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 1em;
    margin: 0 30em 0;
  }
  #work-content .boxes-container .box {
    font-size: 1.1rem;
  }
  .work-sections {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 2em;
    padding: 0 10em 0;
  }
  #about-content #about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 21em 2em;
    gap: 1em;
  }
  #about-content #my-story {
    margin: 0 15em 0;
  }
}
/*# sourceMappingURL=App.css.map */